body{
    background: black;
    color: white;
    text-align: justify;
    max-width: 1200px;
    margin:auto;
}
main{
    display: flex;
    justify-content: space-around;
}

nav{
    flex: 0 0 auto;
    background: lightblue;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}
nav li{
    flex-wrap: wrap;
    justify-content: space-around;
    
}
nav a{
    text-decoration: none;
    color:darkgoldenrod;
}
aside{
    flex: 0 0 25%;
    padding: 5px 5px 5px 5px;

}
article{
    flex: 0 0 47%;
    padding: 5px 5px 5px 5px;

    display: flex;
}
nav, aside, article, footer{
    border: 1px solid white;
}
.kepek{
    flex: 0 0 33%;

}
.kepek img{
    width: 100%;
    padding: 5px 5px 5px 5px;
}
@media (max-width: 700px){
    main{
        display: flex;
        flex-direction: column;
    }
    aside{
        order: 1;
    }
    article{
        flex: 0 0 47%;
        padding: 5px 5px 5px 5px;
        display: flex;
        flex-direction: column;

    }
}
